.header {
  display: block;
  position: fixed;
  width: 100%;
}
.header-inner {
  margin: 0 auto;
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
  height: 70px;
  z-index: 999;
  padding-left: 8px;
}
.header .inner {
  height: 70px;
}
/* ****************************************로고**************************************** */
.header-logo {
  background: url(//t1.kakaocdn.net/together_image/svg/logo_mo.svg) center
    center / contain no-repeat;
}
.header-logo a {
  display: block;
  width: 115px;
  height: 70px;
}
/* ****************************************로고**************************************** */

/* ****************************************메뉴**************************************** */
.header-menu {
  /* margin: 0 auto; */
  display: flex;
  max-width: 720px;
  width: 100%;
  height: 100%;
  font-family: "KakaoBig Bold";
  box-sizing: border-box;
  justify-content: space-around;
}

/* 따로 gap으로 띄울 필요성을 못느껴서 between줬음 */
.header-menu ul {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* .header-menu li {
  display: flex;
  height: 100%;
} */
/* border-bottom 추가 시에 글자가 덜컥거려서 height 99퍼로 해둠. */
/* 나중에 살짝 위로 뜨게 하고 싶으면 100%하고 아래 active line px 높일것 */
.header-menu li a {
  display: block;
  height: 99%;
  font-size: 16px;
  color: rgb(68, 68, 68);
}
.active-line {
  border-bottom: solid 1px;
}
.header-menu-mb {
  display: none;
}
@media all and (max-width: 768px) {
  .header-menu {
    display: none;
  }
  .header-menu-mb {
    /* margin: 0 auto; */
    display: flex;
    max-width: 720px;
    width: 100%;
    height: 100%;
    font-family: "KakaoBig Bold";
    box-sizing: border-box;
    justify-content: space-around;
  }
  /* 따로 gap으로 띄울 필요성을 못느껴서 between줬음 */
  .header-menu-mb ul {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  /* .header-menu li {
  display: flex;
  height: 100%;
} */
  /* border-bottom 추가 시에 글자가 덜컥거려서 height 99퍼로 해둠. */
  /* 나중에 살짝 위로 뜨게 하고 싶으면 100%하고 아래 active line px 높일것 */
  .header-menu-mb li a {
    display: block;
    height: 99%;
    font-size: 16px;
    color: rgb(68, 68, 68);
  }
}
/* js 작업 */
/* .header-menu a:active {
  border-bottom: 1px solid black;
} */
/* ****************************************메뉴**************************************** */

/* ****************************************기타 아이콘 모아놓은곳**************************************** */
/* 뭔가 끝선에 붙은 상태로 띄워져있는게 보기 이쁜거 같아서 */
/* 부모요소에 10% ul에 space-between으로 정렬했음. */
/* 유지보수 면에선 안좋은거 같은데 뭔가 기존 사이트는 margin을 px단위로 */
/* 넣어둬서 그거나 이거나 크게 문제될건 없을거 같음  */
.header-etc {
  width: 10%;
}
.header-etc ul {
  position: relative;
  display: flex;
  justify-content: space-between;
}
/* li 중앙정렬 때문에 해놓음. */
.header-etc ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 이건 좀 좋은 방법 생각해봐야할듯. */
/* 문제점 각 지정하는 요소에 상위에 width height값이 다름. 그래서 width height줘야함. */
/* user-image를 사용하는곳이 몇곳 있어서 상위 태그 따라가게 만듬. */
.header-etc ul li a {
  width: 24px;
  height: 24px;
}
.ico-user-search {
  background: url(../images/ico_user_search.svg) no-repeat;
  background-size: cover;
}
.ico-toggle {
  background: url(../images/ico_toggle.svg) no-repeat;
  background-size: cover;
}
/* ****************************************기타 아이콘 모아놓은곳**************************************** */
